{% extends 'clustering/base.html' %}
{% load index %}
{% load devide %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container">

      <div class="row mt-3 ml-3">
        <div class="col-md-6">
          <h5 class="mt-2 mb-3">Rekomendasi Cluster</h5>
          <a href="{%url 'clustering:clear-rekomendasi'%}" class="btn btn-warning">Clear Rekomendasi Cluster</a>
        </div>
      </div>


      <div class="row mt-5 ml-3">
        <h1 class="mb-3">Visualisasi Hasil Clustering</h1>
        <div class="col">
          {% if scatter_rfm %}
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body">

              <div class="row mt-2">
                <h3 class="mt-2">Scatter Plot Cluster</h3>
                <div class="col-md-6">
                  {% if scatter_rfm %}
                  <img src="data:image/png;base64, {{ scatter_rfm|safe }}" class="mt-2 mx-auto d-block" alt=""
                    style="width: 27rem;">
                  {% endif %}
                </div>
                <div class="col-md-6">
                  {% if scatter_lrfm %}
                  <img src="data:image/png;base64, {{ scatter_lrfm|safe }}" class="mt-2 mx-auto d-block" alt=""
                    style="width: 27rem;">
                  {% endif %}
                </div>
              </div>

              <div class="row mt-2">
                <h3 class="mt-2">Silhouette Coefficient</h3>
                <div class="col">
                  {% if sc_rfm %}
                  <img src="data:image/png;base64, {{ sc_rfm|safe }}" class="mt-2 mx-auto d-block" alt=""
                    style="width: 27rem;">
                  {% endif %}
                </div>
                <div class="col">
                  {% if sc_lrfm %}
                  <img src="data:image/png;base64, {{ sc_lrfm|safe }}" class="mt-2 mx-auto d-block" alt=""
                    style="width: 27rem;">
                  {% endif %}
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-11">

                  <div class="row">
                    {% if member_sc_rfm %}
                    <h5 class="mt-5">Keanggotaan cluster berdasarkan silhouette coefficient RFM</h5>
                    <table class="table table-bordered table-hover mt-3 ml-3">
                      <thead>
                        <th>Cluster</th>
                        <th>Strong Structure</th>
                        <th>Medium Structure</th>
                        <th>Weak Structure</th>
                        <th>No Structure</th>
                        <th>Total</th>
                      </thead>
                      <tbody>
                      <tbody>
                        {% for data in member_sc_rfm  %}
                        <tr>
                          <td>Cluster {{ forloop.counter }}</td>
                          <td>{{ data.strong_structure }}</td>
                          <td>{{ data.medium_structure }}</td>
                          <td>{{ data.weak_structure }}</td>
                          <td>{{ data.no_structure }}</td>
                          <td>
                            {{ data.strong_structure|add:data.medium_structure|add:data.weak_structure|add:data.no_structure }}
                          </td>
                        </tr>
                        {% endfor %}

                        <tr>
                          <td>Total</td>
                          <td>{{ total_member_sc_rfm.0 }}</td>
                          <td>{{ total_member_sc_rfm.1 }}</td>
                          <td>{{ total_member_sc_rfm.2 }}</td>
                          <td>{{ total_member_sc_rfm.3 }}</td>
                          <td></td>
                        </tr>

                      </tbody>
                      </tbody>
                    </table>
                    {% endif %}
                  </div>

                  <div class="row">
                    {% if member_sc_lrfm %}
                    <h5 class="mt-3">Keanggotaan cluster berdasarkan silhouette coefficient LRFM</h5>
                    <table class="table table-bordered table-hover mt-3 ml-3">
                      <thead>
                        <th>Cluster</th>
                        <th>Strong Structure</th>
                        <th>Medium Structure</th>
                        <th>Weak Structure</th>
                        <th>No Structure</th>
                        <th>Total</th>
                      </thead>
                      <tbody>
                      <tbody>
                        {% for data in member_sc_lrfm  %}
                        <tr>
                          <td>Cluster {{ forloop.counter }}</td>
                          <td>{{ data.strong_structure }}</td>
                          <td>{{ data.medium_structure }}</td>
                          <td>{{ data.weak_structure }}</td>
                          <td>{{ data.no_structure }}</td>
                          <td>
                            {{ data.strong_structure|add:data.medium_structure|add:data.weak_structure|add:data.no_structure }}
                          </td>
                        </tr>
                        {% endfor %}

                        <tr>
                          <td>Total</td>
                          <td>{{ total_member_sc_lrfm.0 }}</td>
                          <td>{{ total_member_sc_lrfm.1 }}</td>
                          <td>{{ total_member_sc_lrfm.2 }}</td>
                          <td>{{ total_member_sc_lrfm.3 }}</td>
                          <td></td>
                        </tr>

                      </tbody>
                      </tbody>
                    </table>
                    {% endif %}
                  </div>

                </div>

              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="row mt-5 ml-3">
        <h1 class="mb-3">Karakteristik Hasil Rekomendasi</h1>
        <div class="col">

          {% if characteristic_graph %}
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body">

              
              {% for graph in characteristic_graph  %}
              <div class="row">
                <div class="col">
                  <h3 class="fw-bold mt-5">Cluster {{ forloop.counter }}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h4 class="mt-2 text-center">Geografi Pelanggan</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <img src="data:image/png;base64, {{ graph.0|safe }}" class="mt-2 mx-auto d-block" style="width: 27rem;" alt="">
                    </div>
                    <div class="col">
                      <img src="data:image/png;base64, {{ graph.1|safe }}" class="mt-2 mx-auto d-block" style="width: 27rem;" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h4 class="mt-2 text-center">Order Pelanggan</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <img src="data:image/png;base64, {{ graph.2|safe }}" class="mt-2 mx-auto d-block" style="width: 27rem;" alt="">
                    </div>
                    <div class="col">
                      <img src="data:image/png;base64, {{ graph.3|safe }}" class="mt-2 mx-auto d-block" style="width: 27rem;" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h4 class="mt-2 text-center">Waktu Transaksi Pelanggan</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <img src="data:image/png;base64, {{ graph.4|safe }}" class="mt-2 mx-auto d-block" style="width: 27rem;" alt="">
                    </div>
                    <div class="col">
                      <img src="data:image/png;base64, {{ graph.5|safe }}" class="mt-2 mx-auto d-block" style="width: 27rem;" alt="">
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
                
              
            </div>
          </div>
          {% endif %}

        </div>
      </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}

{% block customscript %}
<script>
  e
</script>
{% endblock customscript %}