{% extends 'clustering/base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
            <div class="small-box bg-light card-primary card-outline">
              <div class="inner">
                <p>Customers</p>
                <h3>917</h3>
              </div>
              <div class="icon text-primary">
                <i class="fas fa-database"></i>
              </div>
            </div>
        </div>

        <div class="col-sm-4">
          <div class="small-box bg-light card-primary card-outline">
            <div class="inner">
              <p>Orders</p>
              <h3>2000</h3>
            </div>
            <div class="icon text-primary">
              <i class="fas fa-database"></i>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="small-box bg-light card-primary card-outline">
            <div class="inner">
              <p>Cluster Customer</p>
              <h3>0</h3>
            </div>
            <div class="icon text-primary">
              <i class="fas fa-database"></i>
            </div>
          </div>
        </div>
    </div> 

    <div class="card card-primary card-outline">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="float-left">
              <h4>Sales Chart</h4>
            </div>
            <div class="float-right">
              <select name="filter_tahun" id="filter_tahun" class="form-control select2">
                <option value="">All Year</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
              </select>
            </div>
           
          </div>

        </div>
        
        <img src="#" alt="">
    
      </div>
    </div>



    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}


{% block customscript %}
<script>
  $(function () {
    $('#table-user').DataTable({
      "paging": false,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
  });
</script>
{% endblock customscript %}