{% extends 'clustering/base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <div class="small-box bg-light card-primary card-outline">
            <div class="inner">
              <p>Customers</p>
              <h3>{{ customer_count }}</h3>
            </div>
            <div class="icon text-primary">
              <i class="fas fa-database"></i>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="small-box bg-light card-primary card-outline">
            <div class="inner">
              <p>Orders</p>
              <h3>{{ order_count }}</h3>
            </div>
            <div class="icon text-primary">
              <i class="fas fa-database"></i>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="small-box bg-light card-primary card-outline">
            <div class="inner">
              <p>Cluster Customer</p>
              <h3>{{ cluster }}</h3>
            </div>
            <div class="icon text-primary">
              <i class="fas fa-database"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-primary card-outline">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="float-left">
                <h4>Sales Plot</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% if income_plot %}
              <img src="data:image/png;base64, {{ income_plot|safe }}" class="mt-2 mx-auto d-block" alt=""
                style="width: 30rem;">
              {% endif %}
            </div>
            <div class="col-md-6">
              {% if order_plot %}
              <img src="data:image/png;base64, {{ order_plot|safe }}" class="mt-2 mx-auto d-block" alt=""
                style="width: 30rem;">
              {% endif %}
            </div>
          </div>
        </div>
      </div>



    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}


{% block customscript %}
<script>
  $(function () {
    $('#table-user').DataTable({
      "paging": false,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
  });
</script>
{% endblock customscript %}