{% extends 'clustering/base.html' %}
{% load index %}
{% load devide %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row mt-3 ml-3">
        <div class="col-md-6">
          <h5 class="mt-2 mb-3">Pengujian Silhouette Coefficient Berdasarkan Data Bobot</h5>
          <form action="{% url 'clustering:testing'%}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-10">
                <label for="k_start">Rentang Awal k Cluster</label>
                <select class="form-select mb-2" aria-label="Default select example" name="k_start" id="k_start"
                  required>
                  <option value="" selected>Pilih k Cluster</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
                <label for="k_end">Rentang Akhir k Cluster</label>
                <select class="form-select" aria-label="Default select example" name="k_end" id="k_end" required>
                  <option value="" selected>Pilih k Cluster</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
                <button type="submit" class="btn btn-primary mt-3">Start</button>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="row mt-5 ml-3">
        <div class="col">
          {% if data_sc_rfm %}
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body">
              <div class="row">
                <h1 class="mb-3 mt-3">Hasil Pengujian</h1>
                <h3 class="mt-2">Silhouette Coefficient (SI) RFM</h3>
                {% if graph_sc_rfm %}
                <img src="data:image/png;base64, {{ graph_sc_rfm|safe }}" class="mt-2 mx-auto d-block" alt=""
                  style="width: 55rem;">
                {% endif %}
                <table class="table table-hover table-bordered mt-2" id="table-sc-rfm">
                  <thead>
                    <tr>
                      <th>Jumlah Cluster</th>
                      <th>SI Data Bobot 1</th>
                      <th>SI Data Bobot 2</th>
                      <th>SI Data Bobot 3</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in data_sc_rfm  %}
                    <tr>
                      <td>{{ forloop.counter0|add:k_start }}</td>
                      <td>{{ data.0}}</td>
                      <td>{{ data.1}}</td>
                      <td>{{ data.2}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="row">
                <h3 class="mt-5">Silhouette Coefficient (SI) LRFM</h3>
                {% if graph_sc_lrfm %}
                <img src="data:image/png;base64, {{ graph_sc_lrfm|safe }}" class="mt-2 mx-auto d-block" alt=""
                  style="width: 55rem;">
                {% endif %}

                {% if data_sc_lrfm %}
                <table class="table table-hover table-bordered mt-2" id="table-sc-lrfm">
                  <thead>
                    <tr>
                      <th>Jumlah Cluster</th>
                      <th>SI Data Bobot 1</th>
                      <th>SI Data Bobot 2</th>
                      <th>SI Data Bobot 3</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in data_sc_lrfm  %}
                    <tr>
                      <td>{{ forloop.counter0|add:k_start }}</td>
                      <td>{{ data.0}}</td>
                      <td>{{ data.1}}</td>
                      <td>{{ data.2}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
              </div>

              <div class="row">
                <h3 class="mt-5">Centroid Cluster</h3>
                <br>
                {% if centroid_rfm %}
                <h5 class="mt-2">Model RFM</h5>
                <table class="table table-hover table-bordered mt-2">
                  <thead>
                    <tr>
                      <th>Cluster</th>
                      <th>Rencency</th>
                      <th>Frequency</th>
                      <th>Monatery</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in centroid_rfm  %}
                    <tr>
                      <td>Cluster {{ forloop.counter }}</td>
                      <td>{{ data.0}}</td>
                      <td>{{ data.1}}</td>
                      <td>{{ data.2}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}

                {% if centroid_lrfm %}
                <h5 class="mt-5">Model LRFM</h5>
                <table class="table table-hover table-bordered mt-2">
                  <thead>
                    <tr>
                      <th>Cluster</th>
                      <th>Length</th>
                      <th>Rencency</th>
                      <th>Frequency</th>
                      <th>Monatery</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in centroid_lrfm  %}
                    <tr>
                      <td>Cluster {{ forloop.counter }}</td>
                      <td>{{ data.0}}</td>
                      <td>{{ data.1}}</td>
                      <td>{{ data.2}}</td>
                      <td>{{ data.3}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}

              </div>

            </div>
          </div>
          {% endif %}
        </div>
      </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}

{% block customscript %}
<script>
</script>
{% endblock customscript %}