{% extends 'clustering/base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-primary card-outline">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="mt-3">Data Customer</h3>
              <form method="post" enctype="multipart/form-data" class="mb-5">
                {% csrf_token %}
                <div class="row align-items-end">
                  <div class="col-md-5">
                    <input type="file" name="myfile" class="form-control" required>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-success mt-2 d-flex">Upload</button>
                  </div>
                </div>
              </form>
              <table class="table table-sm" id="table-customers">
                <thead>
                  <tr class="text-center">
                    <th>#</th>
                    <th>Name</th>
                    <th>Last Active</th>
                    <th>Email</th>
                    <th>Orders</th>
                    <th>Total Spend</th>
                    <th>AOV</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Region</th>
                  </tr>
                </thead>
                <tbody>
                  {% if customers %} 
                  {% for data in customers  %}
                  <tr>
                    <td>{{ data.id_customer }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.last_active }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.orders }}</td>
                    <td>{{ data.total_spend }}</td>
                    <td>{{ data.aov }}</td>
                    <td>{{ data.country }}</td>
                    <td>{{ data.city }}</td>
                    <td>{{ data.region }}</td>
                  </tr>
                  {% endfor %}
                  {% endif %}                    
                </tbody>
              </table>
            </div>
          </div>

          <div class="row mt-5 mb-5">
            <div class="col-md-12">
              <h3 class="mt-3">Data Orders</h3>
              <form method="post" enctype="multipart/form-data" class="mb-5">
                {% csrf_token %}
                <div class="row align-items-end">
                  <div class="col-md-5">
                    <input type="file" name="myorders" class="form-control" required>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-success mt-2 d-flex">Upload</button>
                  </div>
                </div>
              </form>
              <table class="table mt-3" id="table-orders">
                <thead>
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% if orders %} 
                  {% for data in orders  %}
                    <tr>
                      <td>{{ data.id_order }}</td>
                      <td>{{ data.name }}</td>
                      <td>{{ data.date }}</td>
                      <td>{{ data.status }}</td>
                      <td>{{ data.total }}</td>
                    </tr>
                  {% endfor %}
                  {% endif %}
                    
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}


{% block customscript %}
<script>
  $('#table-customers').DataTable({
    lengthMenu: [5, 10, 20, 50, 100, 200, 500]
  });

  $('#table-orders').DataTable({
    lengthMenu: [5, 10, 20, 50, 100, 200, 500]
  });
</script>
{% endblock customscript %}