{% extends 'clustering/base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-primary card-outline">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="mt-3">Data Customer</h3>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row align-items-end">
                  <div class="col-md-5">
                    <input type="file" name="myfile" class="form-control" required>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-success mt-2 d-flex">Upload</button>
                  </div>
                </div>
              </form>
              <table class="table mt-3" id="table-user">
                <thead>
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Active</th>
                    <th scope="col">Email</th>
                    <th scope="col">Orders</th>
                    <th scope="col">Total Spend</th>
                    <th scope="col">AOV</th>
                    <th scope="col">Country</th>
                    <th scope="col">City</th>
                    <th scope="col">Region</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <div class="row mt-5 mb-5">
            <div class="col-md-12">
              <h3 class="mt-3">Data Orders</h3>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row align-items-end">
                  <div class="col-md-5">
                    <input type="file" name="myorders" class="form-control" required>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-success mt-2 d-flex">Upload</button>
                  </div>
                </div>
              </form>
              <table class="table mt-3" id="table-user">
                <thead>
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Id Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}


{% block customscript %}
<script>

</script>
{% endblock customscript %}